body {
	background-color: #067A32;
	margin: 0;
}

.view {
	height: 100vh;
	width: 100vw;
}

#start-view {
	display: grid;
	grid-template-areas: "."
											 "form"
											 "."
											 "submit";
	place-items: center;
}

#enter-username-div {
	width: 80%;
	font-size: 32px;
	grid-area: form;
}

#submit-username-div {
	width: 100%;
	font-size: 24px;
	grid-area: submit;
}

#host-div {
	width: 100%;
	font-size: 24px;
	grid-area: submit;
}

#input-username {
	position: absolute;
	text-align: center;
	margin-top: 60vh;
	margin-left: 5%;
	width: 90%;
	height: 60px;
	font-size: 28px;
	border: 2px;
	border-color: rgb(5, 100, 41);
	border-radius: 15px 5px 15px 5px;
	box-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px rgb(5, 100, 41);
}

#submit-username {
	background-color:white;
	border: 2px;
	position: absolute;
	margin-top: 80vh;
	width: 50%;
	height: 70px;
	margin-left: 25%;
	font-size: 24px;
	border-color: rgb(5, 100, 41);
	border-radius: 15px 5px 15px 5px;
	box-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px rgb(5, 100, 41);
}

#game-tip {
	font-family: "Verdana", Geneva, sans-serif;
	position: absolute;
	margin-top: 10vh;
	margin-left: 10%;
	text-align: center;
	width: 80%;
	font-size: 14px;
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px rgb(5, 100, 41);
}

#start-game {
	border: 2px;
	position: absolute;
	margin-top: 80vh;
	width: 70%;
	height: 70px;
	margin-left: 15%;
	font-size: 24px;
	border-color: rgb(5, 100, 41);
	border-radius: 15px 5px 15px 5px;
	box-shadow: 1px 1px 2px black, 0 0 25px rgb(5, 100, 41), 0 0 5px rgb(5, 100, 41);
}

