/* Inported Styling */
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: white;
	cursor: pointer; /* Cursor on hover */
	border: 1px rgb(34,106,136);;
}

.slider::-moz-range-thumb {
	width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: white;
	cursor: pointer; /* Cursor on hover */
	border: 3px rgb(34,106,136);
}

.nav {
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	transition: left 0.5s ease;
	background: rgba(94, 94, 94, 0.94);
	color: white;
	cursor: pointer;
	font-size: 2rem;
	height: 100vh;
	left: -100%;
	position: fixed;
	top: 0;
	width: 45vw;;
	z-index: 1;
  }
  
  .nav.expanded { left: 0; }
  
  .nav ul {
	width: 100%;
	top: 25%;
	-webkit-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	transform: translateY(-25%);
	list-style: none;
	margin-top: 15vh;
	padding: 0;
  }

  .nav li button{
	  border: 0;
	  background-color: transparent;
	  color: white;
  }
  .nav li button:hover{
	background-color: white;
	color: black;
}

  .nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  position: fixed;
  height: 20px;
  left: 10px;
  top: 16px;
  width: 40px;
  z-index: 2;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 0.4rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }

.nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }

.nav-toggle.expanded .nav-toggle-bar { background: transparent; }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ul {
	width: 100%;
}

/*****************************************/

div {
	font-family: "Verdana", Geneva, sans-serif;
}

body {
	background-color: rgb(34,106,136);
	margin: 0;
}

button {
	color:rgb(34,106,136);
}

input {
	
	color:rgb(34,106,136);
}

.row {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 20px;
}

.view {
	min-height: 100vh;
	width: 100vw;
}

#start-view {
	display: grid;
	grid-template-areas: "."
											 "form"
											 "."
											 "submit";
	place-items: center;
}

#enter-username-div {
	font-size: 32px;
	grid-area: form;
}

#submit-username-div {
	font-size: 24px;
	grid-area: submit;
}

#host-div {
	width: 100%;
	font-size: 24px;
	grid-area: submit;
}

#input-username {
	text-align: center;
	height: 60px;
	font-size: 28px;
	border: 2px;
	border-color: rgb(116,203,234);
	border-radius: 15px 5px 15px 5px;
	box-shadow: 1px 1px 2px black, 0 0 1px rgb(116,203,234), 0 0 5px rgb(116,203,234);
}

#submit-username {
	background-color: white;
	border: 2px;
	height: 70px;
	width: 150px;
	margin: 0 auto;
	font-size: 24px;
	text-align: center;
	border-color: rgb(116,203,234);
	border-radius: 15px 5px 15px 5px;
	box-shadow: 1px 1px 2px black, 0 0 1px rgb(116,203,234), 0 0 5px rgb(116,203,234);
}

.game-tip {
	position: relative;
	margin-top: 10vh;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1px rgb(116,203,234);
}

#start-game {
	border: 2px;
	position: absolute;
	margin-top: 80vh;
	width: 70%;
	height: 70px;
	margin-left: 15%;
	font-size: 24px;
	border-color: rgb(116,203,234);
	border-radius: 15px 5px 15px 5px;
	box-shadow: 1px 1px 2px black, 0 0 1px rgb(116,203,234), 0 0 5px rgb(116,203,234);
}

.move-button {
	border: 2px;
	width: 25%;
	height: 50px;
	font-size: 3vw;
	border-color: rgb(116,203,234);
	border-radius: 5px;
	box-shadow: 1px 1px 2px black, 0 0 3px rgb(116,203,234), 0 0 3px rgb(116,203,234);}

#move-bar {
	margin-top: 2vh;
	margin-bottom: 2vh;
	width: 100%;
	text-align: justify;
	zoom: 1;
}

#player-information {
	text-align: center;
	margin-top: 2vh;
	font-size: 3vh;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 3px rgb(116,203,234);
}

#card-row {
	margin-top: 5vh;
	display: flex;
	justify-content: space-around;
}

#hole-card-1 {
	width: 45%;
	height: 62vw;
	background: url("Cards/As.svg") no-repeat top left;
	background-size: contain;
	border-radius: 40px;
	box-shadow: 1px 1px 2px black, 0 0 10px rgb(116,203,234), 0 0 5px rgb(116,203,234);
}

#hole-card-2 {
	width: 45%;
	height: 62vw;
	background: url("Cards/As.svg") no-repeat top left;
	background-size: contain;
	border-radius: 40px;
	box-shadow: 1px 1px 2px black, 0 0 10px rgb(116,203,234), 0 0 5px rgb(116,203,234);}


#slider-row {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.slider {
    width: 100%; /* Full-width */
    height: 40px; /* Specified height */
    outline: none; /* Remove outline */
}

#input-betting-amount {
	width: 15vw;
	text-align: center;
	font-size: 3vw;
	height: 50px;
	border-color: rgb(5, 100, 41);
	box-shadow: -1px -1px -1px black, 0 0 5px rgb(116,203,234), 0 0 5px rgb(116,203,234);}

#betting-controls {
	background-color: rgba(255, 255, 255, 0.145);
	padding: 10px;
}

#betting-amount-slider {
	margin-top: 1vh;
	vertical-align: middle;
	width: 72vw;
	font-size: 4vw;
}

#button-row {
	margin-top: 1.5vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

#button-panel {
	margin-top: 1.5vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.betting-button {
	border: 2px;
	width: 25vw;
	height: 7vw;
	font-size: 3vw;
	border-color: rgb(5, 100, 41);
	border-radius: 5px;
	box-shadow: 1px 1px 2px black, 0 0 3px rgb(116,203,234), 0 0 3px rgb(116,203,234);}

#plus-bet-button {
	width: 7vw;
	height: 7vw;
}

#minus-bet-button {
	width: 7vw;
	height: 7vw;
}


#username-text {
	font-size: 4vh;
}

#waiting-statement {
	display: none;
}

.ranking-row {
	padding: 5px 0px;
	border-bottom: 1px solid #303030;
}

.ranking-row-svgs {
	margin-top: 5px;
	height: 9vh;
	display: flex;
	justify-content: space-around;
}

.ranking-row-info {
	padding: 10px;
	text-align: center;
}

#header {
	padding: 2.5vh;
	justify-content: center;
}

#header-title {
	font-size: 4vw;
	color: white;
	text-align: center;
}

#header-description {
	vertical-align: middle;
	font-style: oblique;
	font-size: 2vw;
	color: white;
	text-align: center;
}

#hand-rank {
	font-style: oblique;
	font-size: 2vh;
	color: white;
}

#hand-rank-description {
	font-style: oblique;
	font-size: 1.5vh;
	color: white;
}

.open-subpage {
	width: 100%;
	height: 6vh;
	font-size: 5vw;
}

.button {
	background-color: white;
}



